body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #ECF0F1 !important;
    font-family: 'Muli', SansSerif !important;

}

#main {
    color: #2c3e50;
    width: 100%;
    height: 100%;
}

/************************************CUSTOM NAVBAR CSS**************************************/

.navbar-custom {
    background: #2c3e50;
    opacity: 0.8;
}

.navbar-custom .navbar-toggle {
    background: #2c3e50;
}

.navbar-custom .navbar-brand {
    color: #FFBD01;
    position: absolute;
}

.navbar-custom .navbar-toggle > span {
    background: #FFBD01;
}

.navbar-custom .navbar-nav li a {
    color: #FFBD01;
}

.navbar-custom .navbar-nav {
    display: inline-block;
    position: relative;
    left:50%;
    transform:translate(-50%);
}

.navbar-custom .navbar-collapse {
    text-align: center;
    height: 100%;
}

.navbar-custom .navbar-nav li a:hover {
    background: #2c3e50;
}

.navbar-custom .navbar-nav li a:active {
    background: #2c3e50;
}

.navbar-custom .navbar-nav li a:visited {
    background: #2c3e50;
}




/*************************** HOME / ABOUT ME LINK CSS********************************************/
.div1 {
    height:90%;
    margin-top:65px;
    text-align: center;
}

.front_page {
    height:100%;
    width:100%;
    display: inline-block;
}

.front_page img {
    height:100%;
    width:100%;
}


/*************************EXPERIENCE LINK CSS****************************************************/
.div2 {
    height:90%;
    margin-top: 65px;
    text-align: center;
    background: red;
    position: relative;
}

/***************************SKILLS LINK CSS********************************************/
.div3 {
    height:90%;
    margin-top: 65px;
}

.skills_container{
    margin: 1% 0 0 5%;
    height: 27%;
    width: 27%;
    position: relative;
    display: inline-block;
    text-align: center;
    color: #2c3e50;
    font-weight: bold;
}

.skill_desc {
    height: 10%;
    margin: 4% 0;
}

.skill_pic_container {
    height:45%;
    margin:auto;
}

.skill_pic_container > img {
    height: 100%;
}

.meter {
    border: 1px solid #FFBD01;
    height:25px;
    background: #2c3e50;
    width:100%;
    position: relative;
    bottom: 7%;
    margin-top: 5%;
}

.num_block {
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
}

.bar {
    height: 10px;
    position: relative;
    background: #FFBD01;
}

.animate_bar {
    -webkit-animation:bar_fill 2s ease-out;
    -o-animation:bar_fill 2s ease-out;
    animation:bar_fill 2s ease-out;
}

/************************************METER BAR CSS*****************************************/
.javascript {
    width: 90%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}

.jquery {
    width: 90%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}
.html {
    width: 90%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}
.css {
    width: 90%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}
.git {
    width: 80%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}
.angular {
    width: 70%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}
.bootstrap {
    width: 80%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}
.oop {
    width: 80%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}
.php {
    width: 70%;
    height: 10px;
    position: absolute;
    top:30%;
    left:1%;
}
/***************************APPLICATIONS LINK CSS********************************************/
.div4 {
    height:90%;
    margin-top: 65px;
    text-align: center;
}

.app {
    display: inline-block;
    height:30%;
    width: 30%;
}
.app > img {
    height:70%;
    max-width:90%;
}

.links a,p {
    display: inline-block;
}

.app > h5 {
    font-weight: bold;
}
/***************************CONTACT ME LINK CSS********************************************/

.div5 {
    height:90%;
    margin-top: 65px;
    text-align: center;
}
.about_me_content {
    width:80%;
    height:86%;
    display: inline-block;
    font-size: 0;
    margin:0;
}

.pic_and_links {
    width: 40%;
    height:100%;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    margin-left:1%;
}

.picture {
    width:45%;
    height:45%;
    display: inline-block;
    overflow: hidden;
}

.picture > img {
    height:100%;
    width:100%;
}
.contact_me_form {
    display: inline-block;
    width: 55%;
    height:50%;
    font-size:initial;
    overflow: hidden;
}
.my_contact_info{
    width:100%;
    height:50%;
    display: inline-block;
    font-size: initial;
    text-align: left;
}

.div5 > h1 {
    margin-bottom: 5px;
}

.about_me {
    width:45%;
    height:100%;
    display: inline-block;
    overflow: hidden;
    font-size:11px;
    font-weight:bold;
    text-align: justify;
    text-indent:1em;
    margin-right:1%;
}

form, #body {
    font-size:11px;
    font-weight: bold;
}

#body {
    height: 7em;
}

#char_remaining{
    display: inline-block;
    font-size:0.75em;
    font-weight:bold;
}

.contact_me_form input, textarea {
    width: 100%;
}

#send_mail_button {
    background: #2c3e50;
    color: #FFBD01;
    border: none;
    box-shadow: 3px 3px 7px #888888 ;
}

/*****************************************CSS ANIMATIONS****************************************************/
@keyframes bar_fill {
    from {
        width:0;}
    to {
        width: 100%;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    } to{
        opacity: 1;
          }
}

/***************************MEDIA QUERIES FOR MOBILE OPTIMIZATION********************************************/
@media screen and (max-width: 768px) {
    .navbar-custom .navbar-nav {
        left:10%;
    }
}

@media screen and (min-width: 800px) {
    .app:nth-child(3n+0) {
        margin: 0 2% 0 2%;
    }

    .app {
        display: inline-block;
        height:30%;
        width:30%;
        margin-top: 5%;
    }
    .about_me {
        width:30%;
        height:100%;
        display: inline-block;
        overflow: hidden;
        font-size:initial;
        font-weight:bold;
        text-align: justify;
        text-indent:1em;
        margin-right:5%;
        padding-top: 4%;
    }

    form {
        padding-top:16%;
    }

    form, #body {
        font-size:initial;
        font-weight:bold;
    }

    #body {
        height: 10em;
    }
    .about_me_content {
        width:80%;
        height:86%;
        display: inline-block;
        font-size: 0;
        margin-top: 3%;
    }
}
@media all and (orientation:portrait) {
    .skills_container {
        margin-left: 2%;
        height: 19%;
        width: 45%;
        position: relative;
        display: inline-block;
        text-align: center;
        color: #2c3e50;
    }

    .navbar-custom .navbar-nav {
        left:15%;
    }

    .num_block {
        position: absolute;
        right: 0;
        width: 10%;
        height: 100%;
        font-size: 1.5em;
        animation: fade_in 4s;
    }

    .app {
        display: inline-block;
        height:25%;
        width:45%;
        margin-top: 5%;
    }

    .about_me_content {
        width:80%;
        height:92%;
        display: inline-block;
        font-size: 0;
        margin:0;
    }

    .about_me {
        width:100%;
        height:40%;
        display: inline-block;
        overflow: hidden;
        font-size:11px;
        font-weight:bold;
        text-align: justify;
        text-indent:1em;
        margin:15% 0 0 0;
    }
    .pic_and_links {
        width: 80%;
        height: 50%;
        display: inline-block;
        overflow: hidden;
        text-align: left;
    }

    form {
        padding-top: 12%;
    }
}

