body {
    height: 100vh;
    width: 100vw;
    text-align: justify;
    background-color: #2359FF;
    font-size:0;
    margin:0;
}

header  {
    height: 10vh;
    background: white;
    font-size:initial;
    opacity: .7;
}

.brand {
    font-size:2em;
    color:black;
    display: inline-block;
    position: relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.link_bar {
    display: inline-block;
    position: relative;
}

.link_bar > div {
    display: inline-block;
    background: red;
    color: black;
    font-size:initial;
    position: relative;
}